<div class="row">
  <div class="span6">
    <h2><%= product.name %></h2>
    <p><strong>Price:</strong> <%= number_to_currency product.price %></p>
    <p><%= product.description %></p>
    <%=image_tag (product.image? ? product.image.thumb.url : "http://placehold.it/200x200") %>
  </div>
</div>