<% present product do |product_presenter| %>
  <div class="row">
    <div class="span6">
      <h2><%= product_presenter.name %></h2>
      <p><strong>Price:</strong> <%= product_presenter.currency_price %></p>
      <p><%= product_presenter.description %></p>
      <%= product_presenter.thumbnail_with_link %>
    </div>
  </div>
<% end %>